
footer{
    display: flex;
    justify-content: space-around;
    user-select: none;
}
.footer-infos{
    position: relative;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2.5rem;
    font-size: 28px;
    color: #6e6d6d;
}
.footer-infos i {
    color: #38b0b899;
}
.chat{
 position: relative;
 top: -30px;
 left: -30px;
 
}
.show-chat{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: xx-large;
    color: white;
    background-color: #38b0b899;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
   
}
.chat-form{
    position: absolute;
    top: -190px;
    left:-246px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    width: 230px;
    height: 200px;
    font-weight: bold;
    background-color: #eef3f5;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
   
}
.response {
    color: #a2a6a9;
}
.text{
color: #2481af;
}
.hide-chat-form {
    display: none;
}
.chat-form input{
    width: 85%;
    height: 24px;
    color: #2481af;
    padding-left: 10px;
    font-size: large;
    border: none;
    outline: none;
}
.send-message {
    color: #2481af;
    cursor: pointer;
}

