footer {
    display: flex;
    justify-content: space-around;
    user-select: none;
}
.footer-infos {
    position: relative;
    left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2.5rem;
    font-size: 28px;
    color: #6e6d6d;
}
.footer-infos i {
    color: #3892b899;
}
.chat {
    position: relative;
    top: -30px;
    left: -30px;
}
.show-chat {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: xx-large;
    color: white;
    background-color: #3894b899;
    box-shadow: 6px 6px 10px #519ba3;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.show-chat i {
    color: white;
}
.chat-form {
    position: absolute;
    top: -190px;
    left: -252px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    width: 230px;
    height: 200px;
    font-weight: bold;
    background-color: #e9ecee;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border: 0.2px solid #bfbdbd;
    box-shadow: 6px 6px 10px #a1a0a0;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
}
.response {
    color: rgb(139, 137, 137);
}
.text {
    color: #035141;
}
.hide-chat-form {
    display: none;
}
.chat-form input {
    width: 82%;
    height: 24px;
    color: #035141;
    padding-left: 10px;
    font-size: large;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.send-message i {
    color: #414dff;
    cursor: pointer;
}
