@import url("https://fonts.googleapis.com/css2?family=Jura:wght@600&display=swap");

.course-list-page {
  min-height: 74vh;
  margin: 0;
  background: rgba(250, 214, 185, 0.835);
  background: linear-gradient(
    180deg,
    rgba(254, 254, 254, 1) 10%,
    rgba(210, 185, 250, 0.835) 70%
  );
  padding-bottom: 2rem;
}
.courseListTitle {
  width: 700px;
  height: 125px;
  font-family: "Jura", sans-serif;
  font-size: 52px;
  margin: 0 auto;
  color: #000000;
  font-style: normal;
  font-weight: 600;
  text-align: left;

  line-height: 62px;
}

.search-form {
  max-width: 600px;
  margin: 2rem auto;
  position: relative;
  padding: 0;
}

.search-form > input {
  width: 100%;
  color: #000000;
  padding: 7px 7px 7px 3rem;
  font-size: 1.7rem;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #d7ebf1;
  border-radius: 10px;
  margin-bottom: 0;
}

.search-form > input::placeholder {
  padding-left: 1rem;
  font-family: "Jura", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #969696;
}

.search-form > input:focus-visible {
  outline: none;
}

.search-icon {
  font-size: 1.8rem;
  color: #969696;
  position: absolute;
  top: 0.8rem;
  left: 0.7rem;
}

.courseListSection {
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
  margin: 50px auto;
  justify-content: space-around;
  align-items: center;
}

.courseCard {
  width: 480px;
  height: 380px;
  background: #ffffff;
  border: 1px solid #d7ebf1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 2.5rem;

  /*   border-radius: 1rem;
  justify-self: center;
  align-self: center;
  text-align: center;
  box-shadow: 1rem 1rem 1rem grey, 0.4rem 0.4rem 1rem rgb(151, 147, 147) inset; */
}

.courseCard > .cardHeader {
  display: flex;
  align-items: center;
}

.courseCard .cardIcon {
  width: 95px;
  height: 83px;
  object-fit: cover;
  object-position: center;
  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.courseCard .cardTextHeader {
  margin-left: 1.5rem;
}

.courseNameCard {
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.courseDurationCard {
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-top: 0.8rem;
}

.courseTextCard {
  text-align: justify;
  width: 420px;
  height: 80px;
  margin: 3rem auto 2rem auto;
  font-family: "Jura";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #969696;
}

.viewCourseBtn {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  width: 384px;
  height: 60px;
  background: #afccd5;
  border-radius: 10px;
  font-family: "Jura";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  color: #ffffff;
}

.container {
  position: relative;
  overflow: hidden;
  width: 800px;
  height: 500px;
  margin: 1rem auto;
  border: 1px solid #aaa;
  border-radius: 10px;
}

.sidebar {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.sidebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.sidebar h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
  transform: translateY(-200px);
}

.main-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.container .controls button {
  position: absolute;
  left: 35%;
  top: 60%;
  z-index: 100;
}

.container .controls .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container .controls .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#load {
  position: absolute;
  width: 600px;
  height: 36px;
  left: 50%;
  top: 55%;
  margin-left: -300px;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#load div {
  position: absolute;
  width: 30px;
  height: 46px;
  font-size: 1.8rem;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif;
  animation: move 2s linear infinite;
  -o-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color: #35c4f0;
}

#load div:nth-child(2) {
  animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
#load div:nth-child(3) {
  animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
#load div:nth-child(4) {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
#load div:nth-child(5) {
  animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
#load div:nth-child(6) {
  animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
#load div:nth-child(7) {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-moz-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-webkit-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-o-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

.error-message {
  width: 600px;
  height: 400px;
  background-image: url("../../Images/something-went-wrong.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin: 1rem auto;
}

.no-results {
  width: 600px;
  height: 400px;
  background-image: url("../../Images/no-results.webp");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin: 1rem auto;
}

.no-results > p {
  text-align: center;
  font-family: "Jura", sans-serif;
  font-size: 2rem;
  padding-top: 1rem;
}
