.header {
  height: 15vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Jura", sans-serif;
  font-weight: bold;
  user-select: none;
  flex-wrap: nowrap;
}

.logo {
  margin-left: 8%;
  cursor: pointer;
}
.logo img {
  width: 12rem;
  height: 5rem;
}

.navy {
  display: flex;
  /* column-gap: 4rem; */
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  margin-right: 4%;
}
.nav-link {
  text-decoration: none;
  min-width: fit-content;
  padding: 1rem;
}

.navy div,
i {
  position: relative;
  color: #8b8b8b;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
.navy div:hover,
i:hover,
.show-ul li:hover {
  color: #046fa5;
}

#user-profile {
  cursor: pointer;
  padding: 1rem;
}

#user-profile .user-pro-ul,
.hide-userPro-ul {
  position: absolute;
  list-style: none;
  display: flex;
  column-gap: 30px;
  top: 23px;
  left: -210px;
  font-size: 20px;
  font-family: "Jura", sans-serif;
}
.user-pro-ul li {
  scale: 0 1;
  animation: show-user-pro 1s;
  -webkit-animation: show-user-pro 1s forwards;
}
@keyframes show-user-pro {
  to {
    scale: 1;
  }
}
.hide-userPro-ul li {
  animation: hide-user-pro 1s forwards;
  -webkit-animation: hide-user-pro 1s forwards;
}

@keyframes hide-user-pro {
  to {
    scale: 0 1;
  }
}

#user-profile li {
  min-width: fit-content;
  color: #8b8b8b;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
}
#user-profile li:hover {
  color: dodgerblue;
}
.hide-user-profile-list {
  display: none;
}

.header-user-name {
  width: max-content;
  padding: 1rem 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
}

.header-user-name span {
  font-size: 1.4rem;
}

.header-user-name:hover {
  overflow: visible;
  word-break: break-word;
  white-space: normal;
}
.change-lang select {
  border: 2px solid #046fa5;
  background: transparent;
  font-family: "Roboto", sans-serif;
  color: #046fa5;
  font-size: 1em;
  border-radius: 5px;
  opacity: 0.5;
  transition: 0.3s;
  height: 55px;
  padding: 0 2rem;
}
.change-lang select :hover {
  border: 2px solid darkblue;
  background-color: rgba(365, 365, 365, 0.5);
  cursor: pointer;
  color: darkblue;
  opacity: 0.8;
  transition: 0.3s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
