.login {
    margin-top: 4rem;
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: "Jura", sans-serif;
    background: rgba(250, 214, 185, 0.835) ;
    background: linear-gradient(180deg, rgba(254, 254, 254, 1) 10%, rgba(250, 214, 185, 0.835) 70%);
}
.link {
    text-decoration: none;
    color: #f99900 ;
}
.log-form {
   
    margin-top: 1.8rem;
    border: 1px solid rgb(203, 202, 202);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    caret-color:#f49739 ;
    padding: 4rem 10rem;
    background-color:#fff;
    color: #2c768f;
    font-size: x-large;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
   
}

.login-input {
    margin-bottom: 2rem;
   padding-left: 1rem;
    width: 20rem;
    height: 2.5rem;
    border: none;
    outline: none;
    font-size: x-large;
    color: #2c768f;
    border-radius: .5rem;
    box-shadow: 2px 2px 10px gray;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    
   
}

::placeholder{
    font-size: large;
    color: #d2d6d6;
}
.login-btn {
    width: 12rem;
    border: none;
    padding: .6rem;
    font-size: large;
    font-weight: bold;
    color: #f49739;
    background-color: #faeace;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
  
}
.log-password-div{
    position: relative;
}
.login-show-password {
    cursor: pointer;
    position: absolute;
    top:8px;
    left: 302px;
}