.register {
    margin-top: 2rem;
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Jura", sans-serif;
    align-items: center;
    background: rgba(250, 214, 185, 0.835);
    background: linear-gradient(180deg, rgba(254, 254, 254, 1) 10%, rgba(185, 227, 250, 0.835) 70%);
}

.reg-form {
    margin-top: 1rem;
    border: 1px solid rgb(203, 202, 202);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    caret-color: #39ccf4;
    padding: 4rem 10rem;
    background-color: #fff;
    color: #2c768f;
    font-size: x-large;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
}

.reg-input {
    width: 20rem;
    height: 2.5rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
    border: none;
    outline: none;
    font-size: x-large;
    color: #2c768f;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 10px gray;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
}

::placeholder {
    font-size: large;
    color: #bcc0c0;
}
.register-btn {
    cursor: pointer;
    margin-bottom: 1rem;
    width: 12rem;
    border: none;
    padding: 0.6rem;
    font-size: large;
    font-weight: bold;
    color: #39aff4;
    background-color: #cee9fa;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
}
.reg-form-opacity {
    opacity: 0.3;
}
.reg-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: xx-large;
    color: #351ee7;
    font-style: italic;
}
.reg-password-div{
    position: relative;
}
.reg-show-password {
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 300px;
}