@import url("https://fonts.googleapis.com/css2?family=Jura:wght@600&display=swap");

.coursePageWrapper-body {
  padding-top: 2rem;
  min-height: 85vh;
  background: rgba(250, 214, 185, 0.835);
  background: linear-gradient(
    180deg,
    rgba(254, 254, 254, 1) 10%,
    rgba(251, 230, 253, 0.835) 70%
  );
  box-sizing: border-box;
}

.coursePageWrapper {
  margin: 0 auto;
  width: 1200px;
}

.coursePageTopWrapper {
  width: 100%;
  display: flex;
}

.coursePageCard {
  width: 680px;
  height: 400px;

  /*   border-radius: 1rem;
    justify-self: center;
    align-self: center;
    text-align: center;
    box-shadow: 1rem 1rem 1rem grey, 0.4rem 0.4rem 1rem rgb(151, 147, 147) inset; */
}

.coursePageCard > .cardPageHeader {
  display: flex;
}

.coursePageCard .cardPageIcon {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.coursePageCard .cardPageTextHeader {
  margin-left: 3.5rem;
}

.coursePageNameCard {
  margin-top: 0;
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  color: #000000;
}

.coursePageDurationCard {
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
  margin-top: 1rem;
}

.coursePageTextCard {
  text-align: justify;
  margin: 3rem auto 2rem auto;
  width: 660px;
  height: 170px;
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.57);
}

.coursePagePicture {
  margin-left: 1.5rem;
  width: 436px;
  height: 389px;
  border: 20px solid #afccd5;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.coursePagePicture > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}

.buy-btn-wrapper {
  width: 22rem;
  height: 4rem;
  background: rgba(215, 235, 241, 0.69);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: calc(60% - 2rem);
  left: calc(50% - 11rem);
  box-sizing: border-box;
  cursor: pointer;
}

.buy-btn-wrapper:hover {
  background: rgba(59, 146, 172, 0.69);
}
.buy-btn-wrapper:hover p {
  color: #ffffff;
}

.buy-btn-wrapper > p {
  margin-left: 1rem;
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #5382a1;
}

.buy-btn-icon {
  width: 6rem;
  height: 4rem;
  background: rgba(175, 204, 213, 0.75);
  border-radius: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.coursePageBottomWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
}

.courseDetailsItem {
  display: flex;
  align-items: center;
}

.courseDetailsIcon {
  background-position: center;
  background-size: cover;
}

.courseDetailsItem:nth-child(1) > .courseDetailsIcon {
  background-image: url("../../Images/Startup.png");
  width: 93px;
  height: 62px;
}

.courseDetailsItem:nth-child(2) > .courseDetailsIcon {
  background-image: url("../../Images/Wallet.png");
  width: 70px;
  height: 60px;
}

.courseDetailsItem:nth-child(3) > .courseDetailsIcon {
  background-image: url("../../Images/Book.png");
  width: 66px;
  height: 58px;
}

.courseDetailsItem:nth-child(4) > .courseDetailsIcon {
  background-image: url("../../Images/Time.png");
  width: 76px;
  height: 62px;
}

.courseDetailsItem:nth-child(5) > .courseDetailsIcon {
  background-image: url("../../Images/Location.png");
  width: 71px;
  height: 82px;
}

.courseDetailsItem:nth-child(6) > .courseDetailsIcon {
  background-image: url("../../Images/language.png");
  width: 61px;
  height: 52px;
}

.courseDetailsDescr {
  margin-left: 1.1rem;
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  color: #000000;
}

.courseDetailsText {
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  color: #000000;
}
