.learning-desk-page {
  padding-top: 2rem;
  min-height: 85vh;
  background: linear-gradient(180deg, #ffffff 0%, #d7ebf1 100%);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 0 1rem;
}

.learning-desk-main {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.learning-desk-main__title {
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #5382a1;
  padding-left: 1rem;
}

.learning-desk-aside {
  border-right: 1px solid #deeff4;
  height: 80%;
  padding-top: 0.2rem;
  display: grid;
  justify-content: center;
}

.learning-desk-aside > ul {
  background: none;
}

.learning-desk-aside > ul > li > div > div > span {
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.courseTab > div > div {
  display: flex;
  justify-content: space-around;
}

.modulesWrapper {
  width: 600px;
  /* margin: 1rem auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  gap: 1rem; */
  border: 1px solid #deeff4;
  border-radius: 10px;
  background: #ffffff;
}
.modulesHeader {
  width: 100%;
  height: 4.5rem;
  background: linear-gradient(89.93deg, #38b0b8 0.06%, #40dbac 99.95%);
  border-radius: 10px 10px 0px 0px;
}
.modulesHeaderTitle {
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 18px;
  color: #ffffff;
  margin-left: 1rem;
  margin-bottom: 0;
}

.modulesChapters {
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 12px;
  color: #ffffff;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.moduleWrapper {
  width: 90%;
  background: #ffffff;
  border: 1px solid #deeff4;
  border-radius: 10px;
  margin: 1rem auto;
}

.moduleWrapper p {
  color: #5382a1;
}

.moduleWrapper p > a {
  color: #38b0b8;
}

.noBookedCourses {
  margin: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  color: #5382a1;
}
